/* body{
   background-color: black; 
  
}

body, h1, h2, h3, h4, h5, h6, p{
   color: green;
  span{
    color: red;
  } 
} */

#wpfooter{
  display: none;
}

#update-nag, .update-nag{
  display:none
}